// https://stylus-lang.com/docs/keyframes.html#expansion
vendors = official

_set_script = initial
_vue_reactive = initial

// https://github.com/microsoft/vscode/blob/main/extensions/theme-defaults/themes/dark_vs.json
// https://github.com/microsoft/vscode/blob/main/extensions/theme-defaults/themes/dark_plus.json

_foreground = #d4d4d4
_background = #1e1e1e
_focus      = #007fd4

_gray       = #808080
_red        = #d16969
_orange     = #ce9178
_amber      = #d7ba7d
_yellow     = #dcdcaa
_green      = #b5cea8
_teal       = #4ec9b0
_sky        = #9cdcfe
_cyan       = #4fc1ff
_blue       = #569cd6
_magenta    = #c586c0
