@font-face
	font-family: icon
	src: url("./vs/base/browser/ui/codicons/codicon/codicon.ttf") format("truetype")

@keyframes rotate
	0%
		transform: rotate(0deg)
	100%
		transform: rotate(360deg)

@keyframes indeterminate
	0%
		transform: translateX(0) scaleX(0)
	40%
		transform: translateX(0) scaleX(0.4)
	100%
		transform: translateX(100%) scaleX(0.5)

:root
	--font-family: Consolas, Menlo, Monaco, "Courier New", monospace
	--foreground: _foreground
	--background: _background
	--focus: _focus

	// set js
	--dynamic-navbar-height: initial
	--dynamic-font-size: initial
	--dynamic-line-height: initial

*
	font-family: var(--font-family)
	font-size: var(--dynamic-font-size)
	box-sizing: border-box
	margin: 0
	padding: 0
	white-space: pre

:focus
	outline: none
