@font-face
	font-family: icon
	src: url("./vs/base/browser/ui/codicons/codicon/codicon.ttf") format("truetype")

@keyframes rotate
	0%
		transform: rotate(0deg)
	100%
		transform: rotate(360deg)

@keyframes indeterminate
	0%
		transform: translateX(0) scaleX(0)
	40%
		transform: translateX(0) scaleX(0.4)
	100%
		transform: translateX(100%) scaleX(0.5)

:root
	--foreground: _foreground
	--background: _background
	--border: _border
	--focus: _focus

	--dynamic-font-family: _set_script
	--dynamic-font-size: _set_script
	--dynamic-line-height: _set_script

*
	font-family: var(--dynamic-font-family)
	font-size: var(--dynamic-font-size)
	box-sizing: border-box
	margin: 0
	padding: 0
	white-space: pre

:focus
	outline: none

::selection
	color: var(--background)
	background-color: var(--foreground)
