.modal
	&-fragment
		no-stacking-context()
		grid-area: client
		overflow: hidden

		display: grid
		grid-template-rows: 24px auto 1fr
		grid-template-columns: 12px auto 12px

		background-color: _black_a80

	&-dialog
		grid-area: 2 / 2
		overflow hidden
		place-self: center

		@media (max-width: 600px + 24px - 1px)
			min-width: 100%
			max-width: 100%
		@media (min-width: 600px + 24px)
			min-width: 600px
			max-width: 100%

		padding: 8px
		background-color: _dark
		border: solid 1px _dark
		&:focus
			border: solid 1px var(--focus)

	&-title
		margin: 4px
		overflow: hidden
		white-space: break-spaces
		word-break: break-all
		font-weight: bold

	&-alert
		margin: 4px
		overflow: hidden
		white-space: break-spaces
		word-break: break-all

	&-prompt
		margin: 4px
