:root
	--ellipsis: _gray
	--operator: _blue
	--file: _foreground
	--link: _sky
	--directory: _cyan
	--shortcut: _teal
	--bookmark: _teal
	--special: _magenta
	--warn: _orange
	--miss: _red

	--stat-active: rgba(0, 127, 212, 1)
	--stat-target: rgba(0, 127, 212, 0.5)
	--stat-none: rgba(255, 255, 255, 0.1)

	--cell-cursor: rgba(0, 127, 212, 0.9)
	--cell-select: rgba(255, 255, 255, 0.1)

	--scroll-width: 6px
	--scroll-knob: rgba(255, 255, 255, 0.2)

	--filer-info-height: calc(var(--dynamic-line-height) * 2)
	--filer-stat-height: 2px
	--filer-data-top: calc(var(--filer-info-height) + var(--filer-stat-height))
	--filer-data-height: calc(100% - var(--filer-data-top))

.c-operator
	color: var(--operator)
.c-drive
	color: var(--file)
.c-homeuser
	color: var(--file)
.c-file
	color: var(--file)
.c-link
	color: var(--link)
.c-directory
	color: var(--directory)
.c-shortcut
	color: var(--shortcut)
.c-bookmark
	color: var(--bookmark)
.c-special
	color: var(--special)
.c-warn
	color: var(--warn)
.c-miss
	color: var(--miss)

.c-trv
	color: _blue
.c-dsc
	color: _blue
	margin: 0 1px
.c-err
	color: _red
	margin: 0 1px
.c-lro
	color: _amber
.c-rlo
	color: _amber

.filer
	&-fragment
		position: absolute
		overflow: hidden
		top: var(--dynamic-navbar-height)
		width: 100%
		height: calc(100% - var(--dynamic-navbar-height))

		display: flex
		flex-direction: row

	&-list
		position: relative
		flex: 1

	&-info
		position: absolute
		overflow: hidden
		top: 0px
		width: 100%
		height: var(--filer-info-height)

	&-dir,
	&-val
		height: var(--dynamic-line-height)
		line-height: var(--dynamic-line-height)
		font-size: var(--dynamic-font-size)
		margin: 0px 4px

	&-vicon
		font-family: icon
		vertical-align: bottom
	&-vdata
		margin-left: 2px
		margin-right: 12px

	&-stat
		position: absolute
		overflow: hidden
		top: calc(var(--dynamic-line-height) * 2)
		width: 100%
		height: var(--filer-stat-height)
		background-color: var(--stat-none)
		&-active
			background-color: var(--stat-active)
		&-target
			background-color: var(--stat-target)

	&-prog
		width: 100%
		height: 100%
		background-color: rgba(255, 255, 255, 0.5)
		animation: indeterminate 1s infinite linear
		transform-origin: left center

	&-data
		position: absolute
		overflow: hidden
		top: var(--filer-data-top)
		width: 100%
		height: var(--filer-data-height)

	&-cell
		position: absolute
		width: 100%
		min-width: 300px
		height: var(--dynamic-line-height)

	&-cback
		position: absolute
		width: 100%
		height: var(--dynamic-line-height)
		&-cursor
			border: 1px solid var(--cell-cursor)
		&-select
			background-color: var(--cell-select)

	&-cflex
		position: absolute
		display: flex
		flex-direction: row
		width: 100%
		height: var(--dynamic-line-height)
		line-height: var(--dynamic-line-height)

	&-cicon
		position: relative
		width: var(--dynamic-line-height)
		height: var(--dynamic-line-height)
		margin-left: 4px
	&-cimg
		position: absolute
		width: var(--dynamic-line-height)
		height: var(--dynamic-line-height)

	&-cname
		font-size: var(--dynamic-font-size)
		overflow: hidden
		color: var(--ellipsis)
		text-overflow: ellipsis
		flex: 1
	&-cfile
		font-size: var(--dynamic-font-size)
		margin-left: 2px
	&-clink
		font-family: icon
		vertical-align: bottom
		margin-left: 2px
	&-ctrgt
		font-size: var(--dynamic-font-size)
		margin-left: 2px

	&-csize
		font-size: var(--dynamic-font-size)
		margin-left: 6px

	&-cdate
		font-size: var(--dynamic-font-size)
		margin-left: 6px

	&-ctime
		font-size: var(--dynamic-font-size)
		margin-left: 6px
		margin-right: var(--scroll-width)

	&-scroll
		position: absolute
		top: var(--filer-data-top)
		right: 0px
		width: var(--scroll-width)
		height: var(--filer-data-height)
	&-knob
		position: absolute
		width: 100%
		background-color: var(--scroll-knob)

	&-spinner
		display: inline-block
		width: calc(var(--dynamic-line-height) - 4px)
		height: calc(var(--dynamic-line-height) - 4px)
		border-radius: 50%
		margin: 2px
		border-top:    2px solid rgba(255, 255, 255, 0.2)
		border-right:  2px solid rgba(255, 255, 255, 0.2)
		border-bottom: 2px solid rgba(255, 255, 255, 0.2)
		border-left:   2px solid #ffffff
		animation: rotate 1s infinite linear
