_scroll_width = 6px

:root
	--stat-active: rgba(0, 127, 212, 1)
	--stat-target: rgba(0, 127, 212, 0.5)
	--stat-none: rgba(255, 255, 255, 0.1)

	--cell-cursor: rgba(0, 127, 212, 0.9)
	--cell-select: rgba(255, 255, 255, 0.1)

	--scroll-knob: rgba(255, 255, 255, 0.2)

.c-operator
	color: _blue
.c-drive
	color: _white
.c-homeuser
	color: _white
.c-file
	color: _white
.c-link
	color: _sky_l
.c-directory
	color: _sky
.c-shortcut
	color: _teal
.c-bookmark
	color: _teal
.c-special
	color: _magenta
.c-maybe
	color: _gray
.c-warn
	color: _orange
.c-miss
	color: _red

.c-trv
	color: _blue
.c-dsc
	color: _blue
.c-err
	color: _red
.c-bidi
	color: _amber
.c-cloud
	color: _gray

// FilerFragment
.filer
	&-fragment
		no-stacking-context()
		grid-area: client
		overflow: hidden

		display: grid
		grid-template: _vue_reactive

	// ListComponent
	&-list
		display: grid
		grid-template: \
			"path path"   var(--dynamic-line-height) \
			"info info"   var(--dynamic-line-height) \
			"stat stat"   2px                        \
			"data scroll" 1fr                        \
			/ 1fr _scroll_width

	&-path
		grid-area: path
		overflow: hidden

	&-info
		grid-area: info
		overflow: hidden

	&-path
	&-info
		display: flex
		flex-direction: row
		flex-wrap: nowrap
		align-items: center
		margin: 0px 4px

	&-info
		&-icon
			font-family: icon
			vertical-align: bottom
		&-text
			margin-left: 2px
			margin-right: 12px

	&-stat
		grid-area: stat
		overflow: hidden
		background-color: var(--stat-none)
		&-active
			background-color: var(--stat-active)
		&-target
			background-color: var(--stat-target)

	&-prog
		width: 100%
		height: 100%
		background-color: rgba(255, 255, 255, 0.5)
		animation: indeterminate 1s infinite linear
		transform-origin: left center

	&-data
		grid-area: data / data / data / scroll
		position: relative
		overflow: hidden

	&-scroll
		grid-area: scroll
		position: relative
		overflow: hidden
	&-knob
		position: absolute
		top: _vue_reactive
		width: 100%
		height: _vue_reactive
		background-color: var(--scroll-knob)
	
	// CellComponent
	&-cell
		position: absolute
		top: _vue_reactive
		width: 100%
		min-width: 300px
		height: var(--dynamic-line-height)

		// back component
		&-back
			position: absolute
			width: 100%
			height: var(--dynamic-line-height)
			&-cursor
				border: 1px solid var(--cell-cursor)
			&-select
				background-color: var(--cell-select)

		// spinner component
		&-spinner
			display: inline-block
			width: calc(var(--dynamic-line-height) - 4px)
			height: calc(var(--dynamic-line-height) - 4px)
			border-radius: 50%
			margin: 2px
			border-top:    2px solid rgba(255, 255, 255, 0.2)
			border-right:  2px solid rgba(255, 255, 255, 0.2)
			border-bottom: 2px solid rgba(255, 255, 255, 0.2)
			border-left:   2px solid #ffffff
			animation: rotate 1s infinite linear

		// attr component
		&-attr
			position: absolute
			display: flex
			flex-direction: row
			width: 100%
			height: var(--dynamic-line-height)
			line-height: var(--dynamic-line-height)

			> :first-child
				margin-left: 4px
			> :last-child
				margin-right: _scroll_width

			&-icon
				width: var(--dynamic-line-height)
				height: var(--dynamic-line-height)

				&-img
					width: var(--dynamic-line-height)
					height: var(--dynamic-line-height)

			&-name
				overflow: hidden
				color: _gray
				text-overflow: ellipsis
				flex: 1

				&-file
				&-link
				&-trgt
					margin-left: 2px

				&-link
					font-family: icon
					vertical-align: bottom

			&-exte
			&-size
			&-date
			&-time
				margin-left: 6px
