.modal
	&-fragment
		position: absolute
		overflow: hidden
		top: var(--dynamic-navbar-height)
		width: 100%
		height: calc(100% - var(--dynamic-navbar-height))

		display: flex
		flex-direction: column
		justify-content: start
		align-items: center
		background-color: rgba(0, 0, 0, 0.75)

	&-dialog
		flex: none
		margin-top: 24px
		padding: 8px
		min-width: 600px
		max-width: calc(100% - 24px)
		background-color: rgba(40, 40, 40, 1)
		border: solid 1px rgba(40, 40, 40, 1)
		&:focus
			border: solid 1px var(--focus)

	&-title
		margin: 4px
		overflow: hidden
		white-space: break-spaces
		word-break: break-all
		font-weight: bold

	&-alert
		margin: 4px
		overflow: hidden
		white-space: break-spaces
		word-break: break-all

	&-prompt
		margin: 4px
		overflow: hidden
		padding: 0 4px
		border: solid 1px rgba(80, 80, 80, 1)
		&:focus
			border: solid 1px var(--focus)
