.system
	&-fragment
		grid-area: navbar / navbar / client / client
		overflow: hidden

	&-overlay
		z-index: calc(infinity)
		position: absolute
		bottom: 0
		display: flex
		flex-direction: row

		&-item
			padding: 4px
			margin-right: 2px
			display: flex
			flex-direction: column

			color: white
			background-color: hsla(0, 0%, 20%, 0.8)
