.system
	&-fragment
		no-stacking-context()
		grid-area: 1 / 1 / -1 / -1
		overflow: hidden

	&-overlay
		z-index: calc(infinity)
		position: absolute
		bottom: 0

		display: grid
		grid-template-columns: auto auto
		column-gap: 2px

		&-item
			padding: 4px
			color: white
			background-color: hsla(0, 0%, 20%, 0.8)
