.viewer-image
	width: 100%
	height: 100%

	display: grid
	grid-template: \
		"image-head" var(--dynamic-line-height) \
		"image-stat" 2px                        \
		"image-main" 1fr                        \
		/ 1fr

	&-head
		grid-area: image-head
		overflow: hidden

		display: flex
		flex-direction: row
		flex-wrap: nowrap
		align-items: center
		margin: 0px 4px

		background-color: var(--background)

	&-stat
		grid-area: image-stat
		overflow: hidden

		background-color: var(--stat-active)

	&-prog
		width: 100%
		height: 100%
		background-color: _white_a50
		animation: indeterminate 1s infinite linear
		transform-origin: left center

	&-back
		grid-area: image-main
		overflow: hidden

		display: grid
		grid-template-rows: minmax(8px, 1fr) auto minmax(8px, 1fr)
		grid-template-columns: minmax(8px, 1fr) auto minmax(8px, 1fr)

		background-checkerboard()

	&-img
		grid-area: 2 / 2
		overflow hidden
		max-width: 100%
		max-height: 100%

	&-line-l
		grid-area: 1 / 1 / -1 / 2
		overflow hidden
		border-right: 1px solid _gray_a50
	&-line-r
		grid-area: 1 / -2 / -1 / -1
		overflow hidden
		border-left: 1px solid _gray_a50
	&-line-t
		grid-area: 1 / 1 / 2 / -1
		overflow hidden
		border-bottom: 1px solid _gray_a50
	&-line-b
		grid-area: -2 / 1 / -1 / -1
		overflow hidden
		border-top: 1px solid _gray_a50
