.navbar
	&-fragment
		-webkit-user-select: none
		-webkit-app-region: drag
		position: absolute
		overflow: hidden
		width: 100%
		height: _navbar_height

	&-title
		position: absolute
		overflow: hidden
		padding 0 140px
		width: 100%
		height: _navbar_height

		display: flex
		flex-direction: row
		flex-wrap: wrap
		justify-content: center
		align-items: center

