.modal
	&-fragment
		no-stacking-context()
		grid-area: client
		overflow: hidden

		display: grid
		grid-template-rows: 24px auto 1fr
		grid-template-columns: 12px auto 12px

		background-color: rgba(0, 0, 0, 0.75)

	&-dialog
		grid-area: 2 / 2
		overflow hidden
		place-self: center

		@media (max-width: 600px + 24px - 1px)
			min-width: 100%
			max-width: 100%
		@media (min-width: 600px + 24px)
			min-width: 600px
			max-width: 100%

		padding: 8px
		background-color: rgba(40, 40, 40, 1)
		border: solid 1px rgba(40, 40, 40, 1)
		&:focus
			border: solid 1px var(--focus)

	&-title
		margin: 4px
		overflow: hidden
		white-space: break-spaces
		word-break: break-all
		font-weight: bold

	&-alert
		margin: 4px
		overflow: hidden
		white-space: break-spaces
		word-break: break-all

	&-prompt
		height: calc(var(--dynamic-line-height) + 6px)
		line-height: calc(var(--dynamic-line-height))
		margin: 4px
		overflow: hidden
		padding: 2px 4px
		border: solid 1px rgba(80, 80, 80, 1)
		&:focus
			border: solid 1px var(--focus)
