.navbar
	&-fragment
		-webkit-user-select: none
		-webkit-app-region: drag
		position: absolute
		overflow: hidden
		width: 100%
		height: var(--dynamic-navbar-height)

	&-title
		position: absolute
		overflow: hidden
		padding 0 80px
		width: 100%
		height: var(--dynamic-navbar-height)
		line-height: var(--dynamic-navbar-height)
		text-align: center
		text-overflow: ellipsis
