.viewer-monaco
	width: 100%
	height: 100%

	display: grid
	grid-template: \
		"monaco-head" var(--dynamic-line-height) \
		"monaco-stat" 2px                        \
		"monaco-main" 1fr                        \
		/ 1fr

	&-head
		grid-area: monaco-head
		overflow: hidden

		display: flex
		flex-direction: row
		flex-wrap: nowrap
		align-items: center
		margin: 0px 4px

		background-color: var(--background)

	&-stat
		grid-area: monaco-stat
		overflow: hidden

		background-color: var(--stat-active)

	&-prog
		width: 100%
		height: 100%
		background-color: _white_a50
		animation: indeterminate 1s infinite linear
		transform-origin: left center

	&-edit
		grid-area: monaco-main
		overflow: hidden
		max-width: 100%
		max-height: 100%

		background-color: var(--background)
