.viewer-embed
	width: 100%
	height: 100%

	display: grid
	grid-template: \
		"embed-head" var(--dynamic-line-height) \
		"embed-stat" 2px                        \
		"embed-main" 1fr                        \
		/ 1fr

	&-head
		grid-area: embed-head
		overflow: hidden

		display: flex
		flex-direction: row
		flex-wrap: nowrap
		align-items: center
		margin: 0px 4px

		background-color: var(--background)

	&-stat
		grid-area: embed-stat
		overflow: hidden

		background-color: var(--stat-active)

	&-prog
		width: 100%
		height: 100%
		background-color: _white_a50
		animation: indeterminate 1s infinite linear
		transform-origin: left center

	&-embed
		grid-area: embed-main
		overflow: hidden
		width: 100%
		height: 100%
		background-color: var(--background)
