:root
	--viewer-head-height: var(--dynamic-line-height)
	--viewer-stat-height: 2px
	--viewer-main-height: calc(100% - var(--viewer-head-height) - var(--viewer-stat-height))

.viewer
	&-fragment
		grid-area: client
		overflow: hidden
