:root
	--viewer-head-height: var(--dynamic-line-height)
	--viewer-stat-height: 2px
	--viewer-main-height: calc(100% - var(--viewer-head-height) - var(--viewer-stat-height))

.viewer
	&-fragment
		position: absolute
		overflow: hidden
		top: _navbar_height
		width: 100%
		height: s("calc(100% - %s)", _navbar_height)
