- var _default = "default-src 'none';"
- var _script  =  "script-src 'self';"
- var _style   =   "style-src 'self' 'unsafe-inline';"
- var _img     =     "img-src 'self' data: eyna:;"
- var _font    =    "font-src 'self' data:;"
- var _connect = "connect-src 'self' eyna:;"
- var _media   =   "media-src 'self' eyna:;"
- var _frame   =   "frame-src file:;" // <embed>
- var _object  =  "object-src file:;" // <embed>
- var _worker  =  "worker-src blob:;"

doctype
html
	head
		meta(charset="utf-8")
		meta(
			http-equiv="Content-Security-Policy",
			content=_default + _script + _style + _img + _font + _connect + _media + _frame + _object + _worker
		)
		link(rel="stylesheet", href="style.css")
		script(async, type="module", src="renderer.mjs")
		script(defer, src="vs/loader.js")
	body
