name: build

on:
  push:
    branches:
      - develop

# https://github.com/actions/checkout
# https://github.com/actions/setup-node
jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [windows-latest, macos-latest]
        arch: [x64, arm64]
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v6
        with:
          node-version: 24
      - run: |
          npm ci --omit=optional
      - run: |
          npm run b -- ${{ matrix.arch }}
