name: build

on:
  push:
    branches:
      - develop

# https://github.com/actions/checkout
# https://github.com/actions/setup-node
# https://github.com/actions/cache
jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: windows-latest
            arch: x64
          - os: macos-latest
            arch: arm64
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: "24"
      - uses: actions/cache@v4
        with:
          key: ${{ runner.os }}-${{ matrix.arch }}-cache
          path: |
            cache
      - run: |
          npm ci --omit=optional
      - run: |
          npm run b
      - run: |
          npm run p
