name: build

on:
  push:
    branches:
      - develop

# https://github.com/actions/checkout
# https://github.com/actions/setup-node
jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: windows-latest
            arch: x64
          - os: macos-latest
            arch: arm64
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v6
        with:
          node-version: 24
          architecture: ${{ matrix.arch }}
      - run: |
          npm ci --omit=optional
      - run: |
          npm run b -- ${{ matrix.arch }}
