name: release

on:
  push:
    branches:
      - main

# https://github.com/actions/checkout
# https://github.com/actions/setup-node
# https://github.com/softprops/action-gh-release
jobs:
  release:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: windows-latest
            arch: x64
          - os: macos-latest
            arch: arm64
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v6
        with:
          node-version: 24
      - run: |
          npm ci --omit=optional
      - run: |
          npm run b -- ${{ matrix.arch }}
      - run: |
          npm run p -- ${{ matrix.arch }}
      - uses: softprops/action-gh-release@v2
        with:
          name: ${{ github.sha }}
          draft: true
          prerelease: true
          files: dist/*.7z
