name: release

on:
  push:
    branches:
      - main

jobs:
  release:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: windows-latest
            arch: x64
          - os: macos-latest
            arch: arm64
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: "24"
      - uses: actions/cache@v5
        with:
          key: ${{ runner.os }}-${{ matrix.arch }}-cache-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-${{ matrix.arch }}-cache-
          path: |
            cache
      - run: |
          npm ci --omit=optional
      - run: |
          npm run b
      - run: |
          npm run p
      - uses: softprops/action-gh-release@v2
        with:
          name: draft
          draft: true
          prerelease: true
          files: dist/*.7z
