name: test

on:
  push:
    branches:
      - develop

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: windows-latest
            arch: x64
          - os: macos-latest
            arch: arm64
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: "24"
      - uses: actions/cache@v5
        with:
          key: ${{ runner.os }}-${{ matrix.arch }}-cache-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-${{ matrix.arch }}-cache-
          path: |
            cache
      - run: |
          npm ci --omit=optional
      - run: |
          npx tsx pkg/native/scripts/cmake_node.ts
      - run: |
          npx tsx scripts/test.ts
          npx tsx pkg/native/test/test_compare.ts
          npx tsx pkg/native/test/test_get.ts
          npx tsx pkg/native/test/test_icon.ts
          npx tsx pkg/native/test/test_link.ts
          npx tsx pkg/native/test/test_operation.ts
          npx tsx pkg/native/test/test_os.ts
          npx tsx pkg/native/test/test_arc_tar.ts
          npx tsx pkg/native/test/test_arc_tgz.ts
          npx tsx pkg/native/test/test_arc_zip.ts
          npx tsx pkg/native/test/test_watch.ts
